.header {
    height: 34vw;
    margin: 30px auto;
    background: url('./header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header-content h2 {
    font-weight: 500;
    font-size: max(4.5vw,20px);
}

.header-content {
    animation: fadeIn 2s;
}

.header-content p {
   
    font-size: 1vw;
}

.header-content button {
    border: none;
    color: black;
    font-weight: 500;
    padding: 1vw 2.3vw;
    font-size: max(1vw,13px);
    border-radius: 50px;
    background-color: white;
    cursor:pointer;
}